.Responses{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.Responses-header{
    background-color:#663bb7;
    height:18vh;
    box-sizing: border-box;
    padding:6vh 0 0 5vh;
    display: flex;
    z-index: 0;    
    flex-direction: row;
}
.Responses-body{
    background-color:#eee8f7;
    box-sizing:border-box;
    height:200vh;
    padding:4vh;
    display:flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
 
.Responses-Main-Box{
    box-shadow:0.5px solid black;
    position: absolute;
    display:flex;
    top:10vh;
    flex-direction: column;
    width:60vw;
    z-index: 2;
    background-color: white;
    justify-content:space-around;
    box-sizing: border-box;
    padding:2vh;
    margin:0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.Responses-title{
    font-weight:600;
    font-size: 28px;
    box-sizing: border-box;
}

.Question-statement{
    font-weight:450;
    font-size: 22px;
    margin:4vh 0 1.5vh 0;
}

.Question-heading-message{
    font-weight:100;
    font-size: 22px;
    margin:0 0 1.5vh 0;
}
.Response-even{
    background-color:#ede7f6;
    padding:1vh;
    width:100%;
    box-sizing: border-box;
}
.Response-odd{
    background-color:#faf9fe;
    width:100%;
    padding:1vh;
    box-sizing: border-box;
}

.Responses-submit-button{
    align-self: flex-end;
    margin:2vh;
    border: 0;
    color:#663bb7;
    font-size: 22px;
    font-weight: 600;
}

