.FormFill{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.FormFill-header{
    background-color:#663bb7;
    height:18vh;
    box-sizing: border-box;
    padding:6vh 0 0 5vh;
    display: flex;
    flex-direction: row;
}
.FormFill-body{
    background-color:#eee8f7;
    box-sizing:border-box;
    height:200vh;
    padding:4vh;
    display:flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}
.FormFill-Main-Box{
    
    position: absolute;
    display:flex;
    top:10vh;
    flex-direction: column;
    width:60vw;
    z-index: 2;
    background-color: white;
    justify-content:space-around;
    box-sizing: border-box;
    padding:2vh;
    margin:0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.FormFill-title{
    font-weight:500;
    font-size: 28px;
    box-sizing: border-box;
}
.Formfill-submit-button{
    width:1vh;
    align-self: flex-start;
    margin:3.5vh 7.2vw 0 0;
    border: 0;
    color:#663bb7;
    font-size: 17px;
    font-weight: 600;
}
.FormFill-form-input{
    font-size: 22px;
    font-weight: 500;
    padding:10px;
    border:0;
    border-bottom: 1px solid grey;
    width:20vw;
    margin-left:2vw;
}
.FormFill-button-container{
    align-self: flex-end;
    margin:2vh;
}
