.FormCreate{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.FormCreate-header{
    background-color:#663bb7;
    height:18vh;
    box-sizing: border-box;
    padding:6vh 0 0 5vh;
    display: flex;
    z-index: 0;    
    flex-direction: row;
}
.FormCreate-body{
    background-color:#eee8f7;
    box-sizing:border-box;
    height:200vh;
    padding:4vh;
    display:flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}
.FormCreate-create-button{
    border-radius: 50%;
    font-size:24px;
    font-weight: 600;
    height: 40px;
    padding:0 12px 0 12px;
    color:white;
    background-color: #663bb7;
}
.FormCreate-Main-Box{
    box-shadow:0.5px solid black;
    position: absolute;
    display:flex;
    top:10vh;
    flex-direction: column;
    width:60vw;
    z-index: 2;
    background-color: white;
    justify-content:space-around;
    box-sizing: border-box;
    padding:2vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.FormCreate-submit-button{
    width:1vh;
    align-self: flex-end;
    margin-right:7.2vw;
    border: 0;
    color:#663bb7;
    font-size: 22px;
    font-weight: 600;
}
.FormCreate-form-input{
    font-size: 22px;
    font-weight: 500;
    padding:10px;
    border:0;
    border-bottom: 1px solid grey;
    width:20vw;
    margin-left:2vw;
}
.FormCreate-button-container{
    align-self: flex-end;
    margin:2vh;
}
.Question{
    background-color: white;
    display:flex;
    position: relative;
    flex-direction: column;
    width:60vw;
    height:25vh;
    justify-content: space-between;
    padding:2vh 2vh 2vh 4vh;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.Question-input-area{
    display:flex;
    justify-content: space-between;
}

.Question-input{
    font-size: 18px;
    font-weight: 500;
    padding:10px;
    border:0;
    border-bottom: 1px solid grey;
    width:35vw;
    resize:none;
    overflow: scroll;
}
.Question-options{
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    box-sizing: border-box;
}
.Question-delete-button{
    cursor: pointer;
    margin-right: 15px;
}
.Question-options-input{
    margin:10px 0px 2px 0;
}
.Required-label{
    margin: 6px 0 0 12px;
}
.Questions-container{
    margin-top:9vh;
}